@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);

  --color-neutral-very-dark-blue: hsl(234, 12%, 34%);
  --color-neutral-grayish-blue: hsl(229, 6%, 66%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);

  --fs: 15px;
  --ff-Poppins: 'Poppins', sans-serif;
  --fw-thin: 200;
  --fw-normal: 300;
  --fw-bold: 500;
}

main {
  height: 100%;
  margin: 32px 0px;
}

body {
  margin: 0px;
  font-family: var(--ff-Poppins);
  font-size: var(--fs);
  font-weight: var(--fw-normal);
  background-color: var(--color-neutral-very-light-gray);
}

.section {
  padding: 2rem;
}

.section__heading {
  text-align: center;
  color: var(--color-neutral-very-dark-blue);
}
.section__heading > span {
  font-weight: var(--fw-thin);
}
.section__description {
  text-align: center;
  color: var(--color-neutral-grayish-blue);
}

.card-list {
  display: grid;
}

.card-item {
  background-color: white;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(60, 60, 60, 0.15);
  border-radius: 0.5rem;
}
.card-1 {
  border-block-start: 0.25rem solid var(--color-primary-cyan);
}
.card-2 {
  border-block-start: 0.25rem solid var(--color-primary-red);
}
.card-3 {
  border-block-start: 0.25rem solid var(--color-primary-orange);
}
.card-4 {
  border-block-start: 0.25rem solid var(--color-primary-blue);
}

.card__heading {
  margin: 0px;
  color: var(--color-neutral-very-dark-blue);
}

.card__description {
  color: var(--color-neutral-grayish-blue);
  margin: 0.5rem 0;
}

.img-div {
  text-align: right;
}

@media screen and (min-width: 1220px) {
  .card-list {
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 76.25rem;
    margin: auto;
    row-gap: 1rem;
    align-items: center;
  }
  .card-item {
    max-width: 310px;
    padding: 2.5rem 2rem;
  }
  .section__heading {
    font-size: 2.2rem;
  }
  .section__description {
    max-width: 500px;
    margin: auto;
    margin-bottom: 5rem;
  }
  .card-1 {
    grid-row: 1 / 3;
    grid-column: 1;
  }

  .card-3 {
    grid-column: 2;
  }
  .card-4 {
    grid-row: 1 / 3;
    grid-column: 3;
  }
}
